.catalog {
  margin-top: 30px;
  padding-bottom: 60px;
}

.catalog__item {
  margin-bottom: 30px;
  border: 1px solid #ececec;

  &:hover {
    .catalog__description {
      box-shadow: 0 6px 10px 0 rgba(000, 000, 000, 0.1);
    }

    .catalog__name {
      opacity: 0.6;
    }

    svg[class*=icon] {
      fill: #63d1bb;
    }
  }

  &:active {
    .catalog__description {
      box-shadow: 0 3px 5px 0 rgba(000, 000, 000, 0.1);
    }

    .catalog__name {
      opacity: 0.3;
    }

    svg[class*=icon] {
      opacity: 0.3;
    }
  }
}

.catalog__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
}

.catalog__img-wrapper {
  font-size: 0;
}

.catalog__description {
  padding: 0 28px;
  padding-top: 28px;
  transition: 0.2s;
}

.catalog__name {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.catalog__param {
  margin: 0;
  margin-top: 5px;
  padding-bottom: 20px;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.catalog__price {
  margin: 0;
  //padding: 25px 0;
  padding-top: 20px;
  padding-bottom: 27px;
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  border-top: 1px solid #ececec;
}

.catalog__svg {
  margin-left: auto;
  font-size: 0;
  line-height: 0;

  svg {
    fill: #d8d7d7;
  }
}

.video {
  border: 1px solid #ececec;
  transition: 0.2s;

  svg[class*=icon] {
    fill: #63d1bb;
  }

  &:hover {
      box-shadow: 6px 6px 10px 0 rgba(000, 000, 000, 0.1);
      cursor: pointer;

    .video__name {
      opacity: 0.6;
    }
  }

  &:active {
    box-shadow: 3px 3px 5px 0 rgba(000, 000, 000, 0.1);

    .video__name {
      opacity: 0.3;
    }
  }
}

.video__name {
  margin: 0;
  padding: 24px 34px;
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.video__icon {
  display: inline-block;
  margin-right: 25px;
  flex: 0 0 auto;
  font-size: 0;
  line-height: 0;
}
.video__wrapper {
  position: relative;
  font-size: 0;
}

.video__play {
  position: absolute;
  margin: 0;
  top: calc(50% - 38px);
  left: calc(50% - 50px);
  transition: 0.05s;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
  }
}

.video__description {
  padding: 0 33px;
  padding-top: 28px;
  padding-bottom: 30px;
}

.video__text {
  margin: 0;
  padding-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.video__button {
  display: block;
  padding: 16px 24px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #444444;
  box-sizing: border-box;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-top: 68px;
    padding-bottom: 63px;
  }

  .catalog__item {
    margin-bottom: 54px;
    display: flex;
    flex-direction: row;
  }

  .catalog__link {
    flex-direction: row;
    flex: 1 1 auto;
  }

  .catalog__img-wrapper {
    flex: 0 0 auto
  }

  .catalog__img {
    width: 334px;
    height: 332px;
  }

  .catalog__description {
    width: 100%;
    padding-top: 25px;
    padding-left: 26px;
    padding-right: 31px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .catalog__name {
    padding-right: 40px;
    font-size: 20px;
  }

  .catalog__param {
    margin-top: 5px;
    font-size: 15px;
  }

  .catalog__price-wrapper {
    margin-top: auto;
    padding-left: 5px;
  }

  .catalog__price {
    padding-top: 23px;
    align-items: flex-start;
    font-size: 17px;
  }

  .video {
    display: flex;
    flex-direction: column;
  }

  .video__name {
    margin-top: 10px;
    padding-left: 40px;
    order: 2;
    font-size: 20px;
    letter-spacing: 0.2px;
  }

  .video__icon {
    margin-right: 33px;
  }

  .video__wrapper {
    order: 1;
  }

  .video__description {
    padding: 0 40px;
    padding-top: 0;
    padding-bottom: 45px;
    order: 3;
  }

  .video__text {
    margin-top: 4px;
    padding-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }

  .video__button {
    padding: 16px 24px;
    text-align: center;
  }

  .video__img {
    width: 100%;
  }
}

@media (min-width: 1150px) {
  .catalog {
    margin-top: 117px;
    padding-bottom: 103px;
  }

  .catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
  }


  .catalog__item {
    flex-direction: column;
    width: 314px;
  }

  .catalog__link {
    flex-direction: column;
  }

  .catalog__item {
    margin-left: 50px;
    margin-bottom: 0;
  }

  .catalog__item:first-child {
    margin-left: 0;
  }

  .catalog__img {
    width: 316px;
    height: 462px;
  }

  .catalog__description {
    min-height: 195px;
  }

  .catalog__name {
    padding-right: 15px;
  }
  .catalog__param {
    padding-bottom: 0;
  }

  .catalog__price-wrapper {
    padding-left: 0;
  }

  .video {
    width: 100%;
    height: 455px;
    margin-left: 0;
    margin-top: 57px;
    padding-bottom: 0;
    flex-direction: column;
    flex-wrap: wrap;

  }

  .video__wrapper {
    width: 682px;
  }

  .video__name {
    width: 288px;
    padding-left: 0;
    padding-right: 80px;
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    box-sizing: border-box;
  }

  .video__icon {
    margin-bottom: 22px;
    padding-left: 2px;
  }

  .video__description {
    width: 288px;
    margin-top: 5px;
    padding: 0;
    padding-right: 57px;
    margin-left: auto;
    box-sizing: border-box;
  }

  .video__button {
    margin-top: 11px;
  }
}
