.description__text {
  margin: 0;
  padding-top: 25px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .description__text {
    padding-top: 60px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .description__text {
    width: 700px;
    margin: 0 auto;
    padding-top: 108px;
  }
}
