.title__text {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center 0;

  &--index {
    padding-top: 70px;
    padding-bottom: 122px;
  }

  &--other {
    padding-top: 70px;
    padding-bottom: 75px;
    background-image: none;
  }
}

@media (min-width: $tablet-width) {
  .title {
    &--other {
      background-image: url("../img/zigzag-fill-desktop.png");
      background-repeat: repeat-x;
      background-position: left 0 bottom -1px;
    }
  }

  .title__text {
    font-size: 43px;
    line-height: 50px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center -75px;

    &--index {
      padding-top: 79px;
      padding-bottom: 374px;
    }

    &--other {
      padding-top: 22px;
      padding-bottom: 91px;
      background-image: none;
    }

    br:first-child {
      display: none;
    }
  }
}

@media (min-width: 1150px) {
  .title {

    &--index {
      padding-bottom: 0;
    }

    padding-bottom: 24px;
    //background-size: 1150px 30px;
    //background-position: left 0 bottom -1px;
  }

  .title__text {
    //padding-top: 20px;
    font-size: 53px;
    line-height: 57px;

    &--index {
      padding-bottom: 359px;
    }

    &--other {
      padding-top: 19px;
    }
  }
}
