.user-contacts {
  padding-top: 10px;
}

.user-contacts__item {
  margin-bottom: 33px;
}

.user-contacts__name-wrapper {
  display: flex;
  align-items: center;
}

.user-contacts__name {
  margin: 0;
  padding-right: 25px;
  flex: 0 0 auto;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
}

.user-contacts__line {
  height: 1px;
  width: 100%;
  background-color: #63d1bb;
}

.user-contacts__label {
  position: relative;
  margin-top: 6px;
  display: block;
}

.user-contacts__input {
  width: 100%;
  padding: 16px 0;
  padding-right: 45px;
  font-size: 17px;
  line-height: 18px;
  color: #444444;
  border: none;
  border-bottom: 2px solid #000000;
  box-sizing: border-box;
  outline: none;
}

.user-contacts__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
}

@media (min-width: $tablet-width) {
  .user-contacts {
    padding-top: 50px;
    padding-bottom: 26px;
    background-color: #f1f1f1;
  }

  .user-contacts__wrapper {
    display: flex;
    flex-direction: column;
  }

  .user-contacts__item {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .user-contacts__name-wrapper {
    margin-top: 18px;
    padding-left: 2px;
    flex: 0 0 166px;
  }

  .user-contacts__line {
    display: none;
  }

  .user-contacts__label {
    margin-top: 0;
    flex: 1 1 auto;
  }

  .user-contacts__input {
    background-color: transparent;
    padding-left: 15px;
    padding-top: 11px;
    padding-bottom: 13px;
    font-size: 19px;
  }

  .user-contacts__icon {
    height: 50px;
    top: 0;
    right: 18px;
  }
}

@media (min-width: 1150px) {
  .user-contacts__name-wrapper {
    flex: 0 0 116px;
    padding-left: 0;
    margin-left: 62px;
  }

  .user-contacts__label {
    flex: 0 1 700px;
  }

  .user-contacts__icon {
    right: 2px;
  }
}
